/*
 * saral/doc/style/saral.css
 *
 * Stylesheet for the documentation.
 *
 *
 * The MIT License
 *
 * Copyright (c) 2010 - 2013 Sanjeev Premi (spremi at ymail.com).
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */


*
{
	margin			: 0px;
	vertical-align		: middle;
}

html
{
	font-family		: DejaVu Sans Mono, Liberation Mono, Courier New, Monospace;
	font-size		: 12pt;
}

body
{
	text-align		: center;

	background-color	: #dccaa4;
}

a,
a:link,
a:visited
{
	color			: #c9341c;
	text-decoration		: none;
}

a:hover
{
	color			: #c9341c;
}

p
{
	margin-top		: 10px;
	margin-bottom		: 5px;

	text-align		: justify;
}

ul
{
	list-style-type		: square;
}

#header
{
	padding			: 0px;

	height			: 100px;

	background-color	: #c9341c;
}

#logo
{
	display			: inline-block;

	position		: fixed;
	top			: 0px;
	left			: 0px;

	width			: 400px;
	height			: 100px;

	background		: url('../images/logo.png') no-repeat;
}

#tag
{
	display			: inline-block;

	position		: fixed;
	top			: 0px;
	left			: 401px;

	width			: 400px;
	height			: 100px;

	background		: url('../images/tag.png') no-repeat;
}

#content
{
	position		: fixed;
	padding			: 5px 50px 50px 50px;

	background-color	: #dccaa4;
	color			: #283b1f;

	top			: 100px;
	bottom			: 50px;

	text-align		: left;

	overflow		: auto;
}

#content h1
{
	margin-top		: 30px;
	margin-bottom		: 10px;

	background-color	: transparent;
	color			: #4e3e0b;

	border-bottom		: 4px solid #4e3e0b;

	font-size		: 20pt;
	font-weight		: bold;
}

#content h2
{
	margin-top		: 20px;
	margin-bottom		: 5px;

	background-color	: transparent;
	color			: #4e3e0b;

	border-bottom		: 4px solid #b1a26b;

	font-size		: 18pt;
	font-weight		: bold;
}}

#content h3
{
	margin-top		: 10px;
	margin-bottom		: 5px;

	font-size		: 16pt;
	font-weight		: bold;
}

#content p
{
	font-size		: 12pt;
}

#content ul li a
{
	display			: block;
}

#content ul.level1
{
	font-size		: 16pt;
	font-weight		: bold;
}

#content ul.level1 li
{
	margin-top		: 20px;
	margin-bottom		: 5px;
}

#content ul.level1 p
{
	margin-top		: 5px;
	margin-bottom		: 5px;

	font-size		: 12pt;
	font-style		: italic;
}

#content ul.level1 a,
#content ul.level1 a:link,
#content ul.level1 a:visited,
#content ul.level2 a,
#content ul.level2 a:link,
#content ul.level2 a:visited
{
	padding-left		: 5px;
	padding-right		: 5px;

	background-color	: transparent;
	color			: #c9341c;

	border-bottom		: 1px solid transparent;
}

#content ul.level1 a:hover,
#content ul.level2 a:hover
{
	background-color	: transparent;
	color			: #c9341c;
	border-bottom		: 1px solid #b1a26b;
}

#content ul.level2
{
	margin-top		: 10px;
	margin-bottom		: 5px;

	font-size		: 14pt;
	font-weight		: bold;
}

#content ul.level2 li
{
	margin-top		: 5px;
	margin-bottom		: 2px;
}

#content dt
{
	margin			: 10px 0px 10px 10px;

	font-weight		: bold;
}

#content dd
{
	margin			: 5px 10px 5px 50px;

	text-align		: justify;
}

#footer
{
	position		: fixed;

	left			: 0px;
	right			: 0px;
	bottom			: 0px;
	height			: 50px;

	background-color	: #283b1f;
}

#footer p
{
	margin			: 10px;

	color			: #b1a26b;

	text-align		: left;

	font-size		: 10pt;
	font-weight		: normal;
}

#footer strong
{
	color			: #b1a26b;
	font-weight		: bold;
}

#footer em
{
	margin-left		: 2px;
	margin-right		: 2px;

	color			: #b1a26b;

	font-size		: 8pt;
	font-weight		: bold;
}

.console
{
	width			: 800px;
	padding			: 5px;

	margin			: 10px 0px;

	background-color	: #4e3e0b;
	color			: #dccaa4;
	border			: 2px solid #b1a26b;


	font-size		: 14pt;
	font-weight		: normal;
}

.code
{
	width			: 800px;
	padding			: 5px;

	margin			: 10px 0px;

	background-color	: #b1a26b;
	color			: #4e3e0b;
	border			: 2px solid #283b1f;

	font-size		: 14pt;
	font-weight		: normal;
}

.gotoc
{
	border-top		: 1px dashed #b1a26b;

	font-size		: 10pt !important;
	font-weight		: bold;

	text-align		: right;
}

.gotoc a,
.gotoc a:link,
.gotoc a:visited
{
	color			: #4e3e0b !important;
}

.gotoc a:hover
{
	color			: #c9341c !important;
}
